// Most variables are located in _variables.jade
- if (page.title) {
- var title = page.title.replace('-', '<br />')
- }
- if (page.posts) {
-   var index = page.posts.length
-   if (page.tag) {
-     title = "Posts about " + page.tag[0].toUpperCase() + page.tag.substring(1)
-   }
- }
- if (!page.hide_title) {
.full_width_wrap.introduction
  .container
    h1.page-title.flow-text !{title}
    .description.center-align !{page.description}
    - if (page.hide_date == false) {
      .center-align
        time(datetime=date_xml(page.date), itemprop="datePublished")<span class="fa fa-clock-o"></span> <span>#{date(page.date, 'MMMM DD, YYYY')}</span>
        - if ((page.push_update || page.show_update) == true) {
        time(class="rounded update white-text deep-orange accent-3" datetime=date_xml(page.updated), itemprop="dateModified")<span>UPDATED</span> <span>#{date(page.updated, 'MMMM DD, YYYY')}</span>
        - }
    - } 
- }

- if (page.video) {
  .featured_video !{page.video}
- }

- if(page.featured_image || page.featured_html) {
  - var featured_outer_class = "featured-outer-container"
  - var image_inner_class = "image-inner-container"
  
  - if (page.enable_parallax) {
  - var featured_outer_class = "parallax-container featured-outer-container"
  - var image_inner_class = "parallax image-inner-container"
- }
  
div(class=featured_outer_class)
  - if (page.featured_html) {
   .featured_html.container
     div(class="injection_html_item injection_html" data-injection-html=page.featured_html)
  - } 
  div(class=image_inner_class)
    img(class="lazy", data-src=page.featured_image, alt=page.title)
- }

.full_width_wrap.white
  .clearer
  .content
    div(class=content_container_class)
      div(class=content_row_class)
        div(class=content_class)
          .page-content !{content}
            - if (index)
              - page.posts.each(function(post) {
                  include _excerpt
              - })
              
        - if (page.links) {
        div(class=aside_class)
            include _aside
        - }
        
      - if (tags && page.show_tags && (page.layout == 'post'))
        .row
          div(class="tag_wrap col l12")
            include _widgets/tags
          
      - if (page.archive == true) {
      - var pagination_nav = paginator({prev_text: "&laquo Previous", next_text: "Next &raquo;"})
        .pagination !{pagination_nav}
      - }

.clearer      