//- index page
// - console.log(page.title)
// - console.log(page);
- if (page.layout == 'page') {
-  var categories = site.categories.findOne({name: page.category_listing})
-  if (categories) {
-     page.posts = categories.posts
-   }
- }

- if (page.tags) {
-   var tags = page.tags.length 
-  }

 - var content_class = "twelve columns"
 - if (page.links) {
 -   content_class = "seven columns"
 - }
 

- if (page.title) {
- var title = page.title.replace('-', '<br />')
- }
- if (page.posts) {
-   var index = page.posts.length
-   if (page.tag) {
-     title = "Posts about " + page.tag[0].toUpperCase() + page.tag.substring(1)
-   }
- }

// - var categories = site.categories.findOne({name: 'syria'}).posts
// - console.log(categories)


- if(page.featured_image) {
  img(class='lazy', data-src="/images/"+page.featured_image, alt=page.title)
- }

- if (page.video) {
  .featured_video !{page.video}
- }
.container
  - if (!page.hide_title) {
  h1.page-title !{title}
  .description !{page.description}
  - }
  
  - if (page.date && (page.layout != 'page')) {
  time(datetime=date_xml(page.date), itemprop="datePublished") <span class="fa fa-clock-o"></span> <span>#{date(page.date, 'MMMM DD, YYYY')}</span>
  - }

  .content
    .row
      div(class=content_class)
        .page-content !{page.content}    
          - if (index)
            - page.posts.each(function(post) {
                include _excerpt
            - })
            
      - if (page.links) {
      .five.columns
          include _aside
      - }
      
    - if (tags && page.show_tags)
      .tag_wrap
        include _widgets/tags
        
    - if (page.archive == true) {
    - var pagination_nav = paginator({prev_text: "&laquo Previous", next_text: "Next &raquo;"})
      .pagination !{pagination_nav}
    - }    