- if (page.tags) {
-   var tags = page.tags.length
-  }

- var content = htmlInjection(page.content, page.html_injection_items, page.html_injection_disable)

 - var content_class = "col l12"
 - if (page.links) {
 -   content_class = "col l7 m8"
 - }
 

- if (page.title) {
- var title = page.title.replace('-', '<br />')
- }
- if (page.posts) {
-   var index = page.posts.length
-   if (page.tag) {
-     title = "Posts about " + page.tag[0].toUpperCase() + page.tag.substring(1)
-   }
- }
  
  // - var categories = site.categories.findOne({name: 'syria'}).posts
  // - console.log(categories)
  
  - if (!page.hide_title) {
    .full_width_wrap
      .container
        h1.page-title !{title}
  - }
  
  - if(page.featured_image) {
    .parallax-container
      .parallax
        img(class="lazy", data-src=page.featured_image, alt=page.title)
  - }
  
  - if (page.video) {
    .featured_video !{page.video}
  - }
  
  - if (!page.hide_title) {
    .full_width_wrap
      .container
        .description !{page.description}
  - }
  
  
  - if (page.date && (page.hide_date != true)) {
    .full_width_wrap
      .container
        .row
          time(class="col l6" datetime=date_xml(page.date), itemprop="datePublished") <span class="fa fa-clock-o"></span> <span>#{date(page.date, 'MMMM DD, YYYY')}</span>
          - if (page.push_update == true) {
          time(class="col l6 deep-orange-text text-accent-3" datetime=date_xml(page.updated), itemprop="dateModified") <span class="fa fa-refresh"></span> <span>Updated:</span> <span>#{date(page.updated, 'MMMM DD, YYYY')}</span>
          - } 
  - }
  .full_width_wrap.white
    .container
      .content
        .row
          div(class=content_class)
            .page-content !{content}
              - if (index)
                - page.posts.each(function(post) {
                    include _excerpt
                - })
                
          - if (page.links) {
          .col.l5.m4
              include _aside
          - }
          
        - if (tags && page.show_tags && (page.layout == 'post'))
          .row
            div(class="tag_wrap col l12")
              include _widgets/tags
            
        - if (page.archive == true) {
        - var pagination_nav = paginator({prev_text: "&laquo Previous", next_text: "Next &raquo;"})
          .pagination !{pagination_nav}
        - }    