- var title = page.title ? page.title + ' | ' + config.title : config.title
- var og_title = page.title ? page.title : config.title
- if (page.tags) {
- var tagCount = page.tags.length
- }

- if(tagCount) {
  - var tags = [];
  - for (var i = 0; i < tagCount; i++) {
     - tags.push(page.tags.data[i]['name'])
  - }
  - tags = tags.join(',')
- }


meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

title=title
meta(name="og:title" content=og_title)
meta(name="og:site_name" content=config.title)
meta(name="og:url" content=page.permalink)
meta(name='og:description', content= page.description ? page.description : config.meta_description)
meta(name='fb:app_id', content= theme.fb_app_id)
meta(name='fb:admins', content=theme.fb_admins)
meta(name='og:type' content='article')
- if (page.largeThumb) {
  meta(name='og:image', content=config.url+page.largeThumb)
  meta(name='twitter:image', content=config.url+page.largeThumb)
- } 

meta(name='twitter:card', content='summary')
meta(name='twitter:site', content=theme.twitter)
meta(name='twitter:title', content=og_title)
meta(name='twitter:description', content= page.description ? page.description : config.meta_description)

meta(name='description', content= page.description ? page.description : config.meta_description)
meta(name='generator', content= config.title)
meta(name='author', content= config.author)
meta(name='keywords', content= tags ? tags : theme.keywords)
meta(name='HandheldFriendly', content='True')
meta(name='MobileOptimized', content='320')
meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=0')

link(rel='publisher', href=theme.google_plus)

// - var og = open_graph(twitter_id=theme.twitter, google_plus=theme.google_plus, fb_admins=theme.fb_admins, fb_app_id=theme.fb_app_id)



link(rel='icon', href='/images/branding/favicon.ico')
link(rel='stylesheet', type='text/css', href= config.root + 'css/normalize.min.css')
link(rel='stylesheet', type='text/css', href= config.root + 'css/skeleton.css')
link(rel='stylesheet', type='text/css', href= config.root + 'css/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', type='text/css', href= config.root + 'css/jquery.sidr.light.min.css')
link(rel='stylesheet', type='text/css', href= config.root + 'css/main.css')

script(src='scripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js')